body{background:#f5f5f5;}
/*头部通栏*/
.jd_topBar{height:45px;width:100%;background:url("../img/header-bg.png") repeat-x;background-size:1px 44px;border:1px solid #e0e0e0;position:static;z-index:1000;}
.jd_topBar .icon_back{background-position:-20px 0;width:20px;height:20px;display:block;margin:12px 10px;position:absolute;top:0;left:0;}/*返回按钮*/
.jd_topBar h2{text-align:center;font-size:16px;font-weight:inherit;line-height:44px;}
.jd_topBar .icon_menu{background-position:-60px 0;width:40px;height:44px;display:block;padding:12px 10px;background-clip:content-box;background-origin:content-box;position:absolute;top:0;right:0;}
/*安全提示*/
.jd_safeTip{width:100%;height:34px;line-height:34px;font-size:13px;text-align:center;background:#fff;border-bottom:1px solid #e0e0e0;}
.jd_safeTip p{padding-left:25px;width:240px;position:relative;display:inline-block;}
.jd_safeTip p::before{content:"";display:block;width:18px;height:18px;background:url("../img/safe_icon.png") no-repeat;background-size:18px 18px;position:absolute;left:0;top:8px;}
/*复选框*/
.jd_check_box{width:20px;height:20px;display:block;background:url("../img/shop-icon.png") no-repeat;background-size:50px 100px;background-position:0 0;}
.jd_check_box[checked]{background-position:-25px 0;}
/*店铺*/
.jd_shop{margin-top:10px;background:#fff;}
.jd_shop .jd_shop_tit{height:36px;border-bottom:1px solid #e0e0e0;border-top:1px solid #e0e0e0;}
.jd_shop .jd_shop_tit .tit_check{width:40px;height:35px;position:absolute;}
.jd_shop .jd_shop_tit .tit_check .jd_check_box{position:absolute;top:7px;left:10px;}
.jd_shop .jd_shop_tit .tit_name .imgLogo{width:15px;height:13px;display:block;float:left;margin-top:10px;margin-left:34px;}
.jd_shop .jd_shop_tit .tit_name .name{float:left;font-size:13px;margin-top:7px;padding-left:5px;}
.jd_shop .jd_shop_tit .tit_name .tip{float:right;margin-top:7px;margin-right:10px;color:#d8505c}
/*商品*/
.jd_shop .jd_shop_con{border-bottom:1px solid #e0e0e0;position:relative;}
.jd_shop .jd_shop_con .con_check{position:absolute;width:40px;top:0;left:0;}
.jd_shop .jd_shop_con .con_check .jd_check_box{position:absolute;top:30px;left:10px;}
.jd_shop .jd_shop_con .con_product{margin-top:10px;padding-left:40px;padding-right:10px;padding-bottom:10px;}
.jd_shop .jd_shop_con .con_product .con_product_img{float:left;width:80px;height:80px;display:block;margin-right:10px;position:absolute;}
.jd_shop .jd_shop_con .con_product .con_product_img img{width:100%;height:100%;display:block;}
.jd_shop .jd_shop_con .con_product .con_product_box{padding-left:90px;}
.jd_shop .jd_shop_con .con_product .con_product_box .name{height:30px;line-height:15px;font-size:13px;overflow:hidden;display:block;}
.jd_shop .jd_shop_con .con_product .con_product_box .price{margin-top:5px;}
.jd_shop .jd_shop_con .con_product .con_product_box .option{height:24px;width:100%;margin-top:5px;}
.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box{float:left;}
.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box_left{width:32px;height:24px;border:1px solid #e0e0e0;border-top-right-radius:2px;border-bottom-left-radius:2px;float:left;text-align:center;}
.jd_shop .jd_shop_con .con_product .con_product_box .option .change_box_right{width:32px;height:24px;border:1px solid #e0e0e0;border-top-right-radius:2px;border-bottom-left-radius:2px;float:left;text-align:center;}
.jd_shop .jd_shop_con .con_product .con_product_box .option input{width:32px;height:24px;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;float:left;}
.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box{float:right;}
.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box .delete_box_top{width:20px;height:5px;background:url("../img/delete_up.png") no-repeat;background-size:20px 5px;margin-left:-1px;}
.jd_shop .jd_shop_con .con_product .con_product_box .option .delete_box .delete_box_bottom{width:18px;height:18px;background:url("../img/delete_down.png") no-repeat;background-size:18px 18px;margin-top:-3px;}

/*金额操作*/
.jd_amount{position:fixed;left:0;bottom:0;height:62px;background:rgba(0,0,0,0.8);width:100%;}
.jd_amount .amount_check{position:absolute;width:80px;line-height:62px;}
.jd_amount .amount_check span{color:#fff;padding-left:35px;}
.jd_amount .amount_check .jd_check_box{position:absolute;top:20px;left:10px;}
.jd_amount .amount_info{padding-left:70px;padding-right:80px;height:62px;color:#fff;}
.jd_amount .amount_info .sum{font-size:16px;margin-top:15px;}
.jd_amount .amount_info .other{font-size:10px;margin-top:5px;}
.jd_amount .amount_submit{width:120px;height:62px;padding:0 2px;text-align:center;line-height:62px;color:#fff;background:#d8505c;position:absolute;right:0;top:0;font-size:18px;}
.jd_amount .amount_submit span{font-size:14px;}

/*弹出框*/
.jd_win{position:absolute;top:0;left:0;height:100%;width:100%;background:rgba(0,0,0,0.4);z-index:1002;}
.jd_win .jd_win_box{width:85%;background:#fff;border:1px solid #e0e0e0;border-radius:4px;margin:0 auto;padding:0 5%;}
.jd_win .jd_win_box .jd_win_box_text{line-height:75px;color:#666;text-align:center;font-size:16px;border-bottom:1px solid #e0e0e0;}
.jd_win .jd_win_box .jd_btn_box{font-size:15px;padding:10px 0;}
.jd_win .jd_win_box .jd_btn_box .cancel{width:45%;height:36px;line-height:36px;display:block;float:left;margin-right:10%;border-radius:4px;background:#fff;border:1px solid #e0e0e0;color:#888;text-align:center;}
.jd_win .jd_win_box .jd_btn_box .submit{width:45%;height:36px;line-height:36px;display:block;float:left;background:#d8505c;border-radius:4px;text-align:center;color:#fff;}

